@import url('https://fonts.googleapis.com/css?family=Konkhmer+Sleokchher');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FBEAAB;
    font-family: 'Poppins', sans-serif !important;
}

/* font color 454545 */